<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weixinback.Dao.UserMapper">

    <insert id="insert" parameterType="com.example.weixinback.Entity.User">
        insert into tUser(sUserNO,sUserName,dCreateDate,sWeiXinNO,nTag) values(#{userNO},#{userName},now(),#{weiXinNO},#{tag})
    </insert>

    <select id="getById" parameterType="String" resultType="com.example.weixinback.Entity.User">
        select sUserNO as userNO, sUserName as userName, sWeiXinNO as weiXinNO,
               dCreateDate as createDate, dLastLoginTime as lastLoginTime, nTag as tag
        from tUser where sUserNO = #{userNO}
    </select>

    <update id="update" parameterType="com.example.weixinback.Entity.User">
        update tUser set sUserName = #{userName} where sUserNO = #{userNO}
    </update>

    <delete id="deleteById" parameterType="String">
        delete from tUser where sUserNO = #{userNO}
    </delete>

    <select id="getByWeiXinNO" parameterType="String" resultType="com.example.weixinback.Entity.User">
        select sUserNO as userNO, sUserName as userName, sWeiXinNO as weiXinNO,
               dCreateDate as createDate, dLastLoginTime as lastLoginTime, nTag as tag
        from tUser where sWeiXinNO = #{weiXinNO}
    </select>
</mapper>